import SwiftUI

struct ContentView: View {
    var body: some View {
        VStack {
            Image(systemName: "app.fill")
                .imageScale(.large)
                .foregroundStyle(.tint)
            Text("__APP_NAME__")
                .font(.title)
        }
        .padding(40)
    }
}

#Preview {
    ContentView()
}
